.addpayment-parent {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.addpayment-row {
    margin: 10px;
}

.payment-input {
    border: 1px orange solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 5px;
}

.payment-input:focus {
    border: 1px orangered solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    padding: 0 5px;
}

.payment-icons {
    line-height: 36px;
}
