.navbar-wg {
    background-color: white;
    border-bottom: solid 1px orange;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-wg a {
    color: black;
}

.nav-link {
    font-size: 2.5vh;
}

.nav-link:hover {
    font-weight: bold;
}

#navbar-logo {
    height: 6vh;
}

.navbar-brand {
    padding: 0;
}

.navbar-custom-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-span {
    margin: auto;
    font-size: 2.5vh;
    padding: 0.5rem 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.dashboard-parent {
    height: 100%;
}
