.overlay-parent {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay-flex-parent {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overlay-row {
    display: flex;
    flex-direction: row;
}

.overlay-content-wrapper {
    background-color: white;
    border: solid orange 1px;
    border-radius: 5px;
    padding: 15px;
}

.exit-icon {
    margin-left: auto;
    cursor: pointer;
}
