.sign-in-parent {
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.sign-in-child {
    align-self: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-in-child-row {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-self: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.sign-in-child input {
    border: 1px orange solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sign-in-child input:focus {
    border: 1px orangered solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.sign-in-child button {
    margin-left: 10px;
    margin-right: 10px;
}

#sign-in-logo {
    height: 25vh;
}

.login-input {
    padding-left: 5px;
    padding-right: 5px;
}

.login-button {
    background: linear-gradient(to right, #FFAF00, #FF3F3F);
    border: none;
    border-radius: 5px;
    color: white;
    width: 125px;
}

.login-button:hover {
    font-weight: bold;
}

.login-button:focus {
    outline: none;
}