.adduser-parent {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.adduser-inputs {
    margin: auto;
}

.signup-input {
    border: 1px orange solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 5px;
}

.signup-input:focus {
    border: 1px orangered solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    padding: 0 5px;
}

.signup-icons {
    line-height: 36px;
}
