.manage-parent {
    padding: 7.5vh 7.5vw;
    width: 100%;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: white;
    border-bottom: solid orange 1px;
}

.badge {
    margin-left: 5px;
}

.h1-icons {
    float: right;
    line-height: 48px;
}

.custom-icons {
    cursor: pointer;
}
